// Place all the styles related to the blackboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.placeholder {
  border: 0em solid #000;
  height: 8em;
  weight: .1em;
  
}
